<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Calendar Proxy</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/iCalStyles.min.css" rel="stylesheet"/>
    <link href="/css/timer.min.css" rel="stylesheet"/>
    <link href="/css/calendar-proxy-form.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    @RenderBody()
</div>

<script src="/js/ical.min.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/icalrender.min.js"></script>
<script src="/js/calendar-proxy-form.js"></script>
</body>
</html>